.DS_Store
.bundle
.byebug*
.ruby-lsp
.prompts
.history
.devcontainer
.vscode
.serena
.claude
.yardoc
.zed
.*.json
*.env
*.log
*.pyc
.mcp.json
.ruby-version
.venv
appendonlydir
log
tmp
vendor
doc/
__pycache__
src/tpane.egg-info

# Coverage files
.coverage
coverage.xml
htmlcov/
